.logout {
  margin:1.5rem;
    background-color: #2DA561;
    color: #ffffff;
    padding: 8px 16px;
    border: 0.1em solid #22283a;
    border-radius: 4px;
    font-size: 2rem;
    margin-right: 20px;
    border:3px solid  lightsteelblue;
    font-family: "Roboto Condensed", serif;
    background-color: lightsteelblue; 
}

.logout:hover {
   border: 2px solid whitesmoke;
}

.edit-parent{
    display: flex;
  justify-content: center;
}

.vol-add-parent{
    display: flex;
    justify-content: center;
}

.selectedItem { 
  background-color: #4d85ee;
}